*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
body{
    background-color: black;
    color: #fff;
    font-family: sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 200px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

header a.logo{
    display: block;
}

header .logo svg{
    fill: rgb(229,9,20);
    height: 40px;
}

header div+div{
    text-align: right;
}

header a.button button{
    background-color: rgb(229,9,20);
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 4px;
    font-family: sans-serif;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    
} 

div.splash {
    position: relative;
}

div.splash div.gradient{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    inset: 0;
}   

div.splash div.background img{
    max-width: 100%;
    opacity: 0.6;
}

div.splash div.content{
    max-width: 655px;
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}

div.splash h1{
    font-size: 3rem;
    font-weight: 900;
}

div.splash h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}

div.splash h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 24px;
}

div.splash form{
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-top: 16px;
}

div.splash input{
    padding: 16px;
    font-family: sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;
}

div.splash input ~ span{
    position: absolute;
    left: 10px;
    top: 18px;
    z-index: 3;
    color: #aaa;
    transition: all 0.15s ease;
    pointer-events: none;
}

div.splash input:focus ~ span{
    top: 2px;
    font-size: 0.8rem;
    margin-top: 3px;
    margin-left: 3px;
}

div.splash button{
    font-size: 24px;
    padding: 12px 24px;
    background-color: rgb(229, 9, 20);
    color: #fff;
    border: none;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding:72px 200px;
    align-items: center;
    border-top: 8px solid rgb(35, 35, 35);
}

section.last{
    border-bottom: 8px solid rgb(35, 35, 35);
}

section div.texts h1{
    font-size: 48px;
    margin-bottom: 16px;
}

section div.texts p{
    font-size: 24px;
}

.media{
    position: relative;
}

.media .s1 img{
    width: 500px;
}

.media .s1 video{
    width: 362px;
    position: absolute;
    top: 78px;
    left: 68px;
}

section:nth-child(even) div.texts{
    order: 2;
}

section div.download{
    border: 2px solid #666;
    border-radius: 15px;
    padding: 8px 12px;
    height: 95.2px;
    width: 289.4px;
    display: grid;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 320px;
    left:50% ;
    margin-left: -160px;
    background-color: #000;
    gap:15px;
    grid-template-columns: max-content 1fr max-content;
}

section div.download img{
    height: 75px;
    width: auto;
}

section div.download div.note .note2{
    color:rgb(0, 113, 235) ;
    align-items: right;
}

.media .s3 img{
    width: 500px;
    position: relative;
    z-index: 5;
}

.media .s3 video{
    width: 362px;
    position: absolute;
    top: 78px;
    left: 68px;
}

div.faq{
    padding: 72px 200px;
}

div.faq h1{
    font-size: 48px;
    text-align: center;
}

div.questions{
    margin: 0 auto;
    font-size: 24px;
}

div.question{
    position: relative;
    background-color: rgb(45, 45, 45);
}

div.question svg{
    width: 40px;
    height: 40px;
    top: 20px;
    right: 24px;
    position: absolute;
}

div.question .header{
    display: block;
    padding: 24px 24px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

div.question div.content{
    padding: 0px 24px;
    max-height: 0;
    overflow: hidden;
}

div.question input[type="checkbox"]{
    display: none;
}

div.question input[type="checkbox"]:checked ~ div.content{
    padding: 0px 24px;
    max-height: 600px;
}
